body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url("../images/white-wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
  background: linear-gradient(to left, #ffffff55, #00000055);
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
}

.indifferent {
  border: 1px solid #adad11;
  box-shadow:  -1px 1px #adad11, -2px 2px #adad11, -3px 3px #adad11, -4px 4px #adad11, -5px 5px #adad11;
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #b82c2b;
  box-shadow:  -1px 1px #b82c2b, -2px 2px #b82c2b, -3px 3px #b82c2b, -4px 4px #b82c2b, -5px 5px #b82c2b;
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
img {
  border: 2px solid;
  box-sizing: border-box;
}
